@base-color-white: #fff;
@base-color-black: #000;
@base-color: #FF9D43;
@base-border-color: #FF7B00;
@body-font: 14px;
@base-width: 100%;
@text-color: #444;
@alert-danger-bg: red;
@base-pixel: 20px;
@fa-font-size-base: 14px;
@background-color-footer: #f9f9f9;
body {
    //login page
    .login-cont {
        padding: @base-pixel;
        .login-header {
            text-align: center;
            padding: @base-pixel+5px 0;
        }
        .bg-primary {
            color: @base-color-white;
            background-color: @base-color;
        }
        .btn1 {
            color: rgb(49, 46, 46);
            background-color: @base-color;
            font-size: 16px;
        }
        .btn1:not([disabled]):hover {
            background-color: @base-color;
            color: white;
        }
        .block-header {
            padding: 15px 20px;
            -webkit-transition: opacity .2s ease-out;
            transition: opacity .2s ease-out;
        }
        .block-options {
            float: right;
            margin: -3px 0 -3px 15px;
            padding: 0;
            height: 24px;
            list-style: none;
        }
        .block-options>li {
            display: inline-block;
            margin: 0 2px;
            padding: 0;
        }
        h3.block-title {
            display: inline;
        }
        .block-title {
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
        }
        .block-options>li>a,
        .block-options>li>button {
            display: block;
            padding: 2px 3px;
            color: @base-color-white;
            opacity: .8;
        }
        .block-options>li>a:hover,
        .block-options>li>button:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
    //header
    .header {
        .logo img {
            width: 200px;
        }
        .logout-btn {
            margin-top: 5px;
        }
        header.ng-scope {
            padding: @base-pixel 0;
        }
    }
    .sidemenu.col-md-3 {
        padding: 0;
        md-list {
            display: block;
            padding: 0px 0;
        }
        md-list md-list-item button.md-button:not([disabled]):hover {
            background-color: #FF9D43;
            border-radius: 0px;
        }
        md-list-item.md-raised.md-primary.ng-scope.md-clickable {
            background-color: #FF9D43;
            a{
                color: #fff;
            }
        }
    }
    //user
    .user {
        table {
            td.btn-edit {
                button i {
                    font-size: @fa-font-size-base;
                }
            }
        }
    }
    //footer
    footer {
        background-color: @background-color-footer;
        padding: 10px 0 0 0;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: @base-color-white!important;
}

md-input-container .md-input {
    background: @base-color-white;
}

md-input-container.md-default-theme.md-input-has-value.md-input-focused label {
    color: @base-color;
}

md-input-container .md-input.md-input-focused {
    border-color: @base-border-color;
}

a.md-button.md-primary.md-raised,
a.md-button.md-primary.md-fab,
.md-button.md-primary.md-raised,
.md-button.md-primary.md-fab {
    color: @base-color-white;
    background-color: @base-color;
}

.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: @base-color;
    color: @base-color-white;
    transition: 0.3s;
}

.bg-primary {
    background-color: @base-color;
}

.block-header {
    padding: 15px @base-pixel;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.block-options {
    float: right;
    margin: -3px 0 -3px 15px;
    padding: 0;
    height: 24px;
    list-style: none;
}

.block-options>li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}

h3.block-title {
    display: inline;
}

.block-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}

.block-options>li>a,
.block-options>li>button {
    display: block;
    padding: 2px 3px;
    color: @base-color-white;
    opacity: .8;
}

.block-options>li>a:hover,
.block-options>li>button:hover {
    text-decoration: none;
    opacity: 1;
}

// less tootip
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}

.tooltipdemoBasicUsage .left {
    top: 70px !important;
    left: 56px !important;
}

.tooltipdemoBasicUsage .right {
    top: 70px !important;
    right: 56px !important;
}

button {
    outline: 0px!important;
}