<section class="gridview">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="cardimage">
                    <figure>
                        <img src="image/sample3.jpg" class="img-responsive">
                        <div class="card-title">Card1</div>
                    </figure>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action clearfix">
                    <div class="pull-right">
                        <a href="" class="btn btn-link black-text">Link 1</a>
                        <a href="" class="btn btn-link orange-text">Link 2</a>
                        <a href="" class="btn btn-link blue-text accent-2">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="cardimage">
                    <figure md-ink-ripple>
                        <img src="image/sample2.jpg" class="img-responsive">
                        <div class="card-title">Card2</div>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="card-profile pull-right">
                        <div class="lock-size" layout="row" layout-align="center center">
                            <md-fab-speed-dial md-direction="down" class="md-fling">
                                <md-fab-trigger>
                                    <md-button aria-label="menu" class="md-fab md-warn">
                                        <i class="fa fa-plus"></i>
                                        <!--                        <i class="fa fa-th"></i>-->
                                    </md-button>
                                </md-fab-trigger>
                                <md-fab-actions>
                                    <md-button aria-label="facebook" class="md-fab md-raised md-mini">
                                        <i class="fa fa-facebook-official"></i>
                                    </md-button>
                                    <md-button aria-label="twitter" class="md-fab md-raised md-mini">
                                        <i class="fa fa-twitter-square"></i>
                                    </md-button>
                                    <md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
                                        <i class="fa fa-google-plus-square"></i>
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                        </div>
                    </div>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="cardimage">
                    <figure md-ink-ripple>
                        <img src="image/sample1.jpg" class="img-responsive">
                        <figcaption>Card3</figcaption>
                    </figure>
                </div>

                <div class="card-content">
                    <p>I am convenient because I require little</p>
                </div>
                <div class="card-action">
                    <a href="" md-ink-ripple>This is a link</a>
                    <a md-ink-ripple>This is a link</a>
                </div>
            </div>
        </div>
    </div>
</section>